# Server configs
PROTOCOL=
HOST=
PORT=

# node-pg configs
PGUSER=
PGHOST=
PGPORT=
PGPASSWORD=
PGDATABASE=

# JWT Tokens
ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=

# Redis
REDIS_HOST=

# Model API
MODEL_PROTOCOL=
MODEL_HOST=
MODEL_PORT=

# Ollama API
AGENT_PROTOCOL=
AGENT_HOST=
AGENT_PORT=